* {
  font-family: Roboto, Arial;
  color: #5d4037;
}

body {
  background-color: #fdf5e6;
  /* height: 3000px; */
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.next-page-container {
  display: flex;
  position: absolute;
  right: 5px;
  bottom: 0;
}
