{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="../static/index.css" />
{% endblock styles %}

{% block content %}
<div class="page-container">
  <div class="article-container">
    <div class="article-grid">
      {% for item in data %}
      <div class="article-title">
        <a href="{{ url_for('blog.article', id=item.id) }}">{{ item.title }}</a>
      </div>
      <div class="article-time">{{ item.date }}</div>
      {% endfor %}
    </div>
  </div>

  <div class="next-page-container">
    <nav aria-label="Page navigation">{{ pagination.links | safe }}</nav>
  </div>
</div>
{% endblock content %}